# Supabase 설정
VITE_SUPABASE_URL="https://pcqrknclbcgrllqoyvzq.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_6m_BiuEd9rUCTsvcmqeC5Q_UQDNV6QU"
SUPABASE_SERVICE_ROLE_KEY="[YOUR-SERVICE-ROLE-KEY]"

# Connect to Supabase via Shared Connection Pooler
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.pcqrknclbcgrllqoyvzq.supabase.co:6543/postgres?pgbouncer=true"

# Direct connection to the database through Shared Pooler (supports IPv4/IPv6). Used for migrations.
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.pcqrknclbcgrllqoyvzq.supabase.co:5432/postgres"
# export DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.pcqrknclbcgrllqoyvzq.supabase.co:5432/postgres"

DATABASE_DEBUG=

SMS_TEST_MODE=
SMS_TEST_NUMBER=